# Basics in Python

## Usually the First Lines correspond to imports 
<br>
<p> Import Packages and Modules in Python:  Package Manger in Python is called pip. Pip can be used to download packages like Pandas, Seaborn and more which are not shipped with basic Python! When the package download and installation was succesful, packages can be imported as illustrated below. Usually this is performed at the top of your Script/Program ect. </p>

<code> 
import package
import * from package
</code>
<br>
<p> The second import is called wild card import and should usually be avoided. Therefore usually directly import the used object such as: </p>
<br>
<code>
from collections import Counter
from pandas import melt
</code>
<br>

<p> In addition we can also serve acronyms for the package like in: </p>
<code> 
import pandas as pd
import numpy as np
</code>

## Data Types in Pyton
<br>
<p> <b>Question:</b> What Data Types are available in Python ??? </p>

In [10]:
# The following Data Types can be found in python and used
# integers
number_int = 1
number_int_2 = 15

# floats 
number = 1.3
number_2 = -1.5

#booleans
bools = True
bools_2 = False

#strings
string_1 = "hello"
string_2 = "world"

#bytes and byte strings
string_byte_1 = b'hello'

In [14]:
### The Python Interpreter can be used for calculations
print(number + number_2)
print(number_int, number_int_2)
print(string_1 + string_2)
print(bools + bools)

-0.19999999999999996
1 15
helloworld
2

### Data Structures in Pyton
<br>
<p> Data Structures are objects in Python that can held data of various types. The data structures can  usually distingushed between mutable and immutable data structures. </p>
<br>
<p> Usual Functions for sets: </p>
<code>
    set_1 = {1,2,3,4}
    set_2 = {1,2,9}
    set_1.add()
    set_1.remove()
    set_1.pop()
    set_1.intersection(set_2)
    set_1.union(set_2)
    set_2.issubset(set_1)
    next(iter(set_1))
</code>
<br>
<p> Try yourself: build a using the following numbers (1,2,3,4,1,2,3,7,9). Create a second set with the numbers (10,1,7,9). Build the intersections and union after removing the 7 from the first set. <br> What are the results ? </br>
</p>

In [33]:
# Solution programmed
set1 = {1,2,3,4,1,2,3,7,9}
set2 = {10,1,7,9}
set1.remove(7)
set1.intersection(set2)
set1.union(set2)

{1, 2, 3, 4, 7, 9, 10}

## Data Structures in Pyton

<br>
Data Structures are objects in Python that can held data of various types. The data structures can usually distingushed between mutable and immutable data structures.

<br>

Usual Functions for lists:

    list_1 = [1,2,3,4]
    list_2 = [1,2,9]
    list_1.append()
    list_1.extend()
    list_1.pop()
    list_1[1:]
    list_1 + list_2
    list_1.extend(list_2)
    list_1.append(list_2)
    list_1.reverse()
    next(iter(set_1))

<br>
Try yourself: build a using the following numbers (1,2,3,4,1,2,3,7,9). Create a second set with the numbers (10,1,7,9). Build the intersections and union after removing the 7 from the first set. 
What are the results ?

In [26]:
## Mistakes by reference
list_a = [1,2,3,4]
list_b = list_a.copy()
list_b.pop()
list_b

[1, 2, 3]

In [9]:
# if conditions
# if:
# elif:
# else:
# replace with if if instead of if else
# or use a range instead of multiple queries
value = 60
# here we can use the operator
if 60 <= value < 90:
    print("Yes")
elif value < 80:
    print("its below 80")
else:
    print("No")

Yes

In [1]:
# we in addition have also a match switch statement
# only possible in python 3.10
# Can be used for ranges too 
# Its a good equivalent for elif collections
lang = input("What's the programming language you want to learn? ")

match lang:
    case "JavaScript":
        print("You can become a web developer.")

    case "Python":
        print("You can become a Data Scientist")

    case "PHP":
        print("You can become a backend developer")
    
    case "Solidity":
        print("You can become a Blockchain developer")

    case "Java":
        print("You can become a mobile app developer")
    case _:
        print("The language doesn't matter, what matters is solving problems.")

You can become a Data Scientist

In [14]:
# how to iterate over lists?
# zip and no zip
list_a = [1,2,4,4]
for i in list_a:
    print(i)
    
for i in range(len(list_a)):
    print(i,list_a[i])
    
for index, value in enumerate(list_a):
    print(index, value)
    
for i,t in zip(list_a, list_a):
    print(i,t)
    
    
###############################
# exercise:
# take list_a and only multiple if the index position is even
# than update the list and replace the value
################################
# second excersise:
# how can you print consecute letters like bigrams of words such as emma?
# should be like:
#em
#mm
#ma
# use zip for this
###############################

1
2
4
4
0 1
1 2
2 4
3 4
0 1
1 2
2 4
3 4
1 1
2 2
4 4
4 4

In [15]:
# and here now we learn about exceptions!
# try the same with division
# what happens when a division by zero happens
for index, value in enumerate(list_a):
    if index % 2 == 0:
        print(index)
        list_a[index] = 2/value  
    else:
        list_a
print(list_a)

0
2
[2.0, 2, 0.5, 4]

In [21]:
# and here now we learn about exceptions!
# try the same with division
# what happens when a division by zero happens
list_zero = [1,2,0,1]
for index, value in enumerate(list_zero):
    if index % 2 == 0:
        print(value)
        try:
            list_zero[index] = 2/value  
        except Exception as e:
            print(e)
            continue
    else:
        list_zero
print(list_zero)

1
0
division by zero
[2.0, 2, 0, 1]

In [5]:
# dictionaries:
# dictionaries evaluate like this
# here you can see mutatbility
# how to process the data
course_dict = {"teacher": "Maximilian Zeidler", "students": ["Student1", "Student2"]}
print(course_dict["teacher"])
print(course_dict.get("teacher"))
print(course_dict)
course_dict.update({"teacher": "Kai Kummer"})
print(course_dict)
course_dict["students"].append("new_student2")
print(course_dict)
#course_dict.update({"students": "New_student"})
print(course_dict)
course_dict["students"].append("new_student2")
print(course_dict)

Maximilian Zeidler
Maximilian Zeidler
{'teacher': 'Maximilian Zeidler', 'students': ['Student1', 'Student2']}
{'teacher': 'Kai Kummer', 'students': ['Student1', 'Student2']}
{'teacher': 'Kai Kummer', 'students': ['Student1', 'Student2', 'new_student2']}
{'teacher': 'Kai Kummer', 'students': ['Student1', 'Student2', 'new_student2']}
{'teacher': 'Kai Kummer', 'students': ['Student1', 'Student2', 'new_student2', 'new_student2']}

In [25]:
# loop through dictionaries
for key in course_dict: # this loops through keys
    print(key)
    
# go through all the keys   
for key in course_dict.keys(): # runs through the keys # can you access the values per keys?
    print(key) # same as first

for value in course_dict.values(): # runs through the value
    print(value)
    
# this should show the looping behavior with different data structures
for key, value in course_dict.items():
    for i in value:
        print(i)
    print(key, value)
# question: build a dictionary of classmates and give them a mark for the course
# then assign a new key with ranking if student has a 1 or 2 then rank him as top 
# else as ok
# as a help making life more easier you cann also assign an empty list to a key

teacher
students
K
a
i

K
u
m
m
e
r
teacher Kai Kummer
Student1
Student2
new_student2
new_student2
students ['Student1', 'Student2', 'new_student2', 'new_student2']
teacher
students
Kai Kummer
['Student1', 'Student2', 'new_student2', 'new_student2']

In [ ]:
# Can you implement the switch statement as an Dictionary?

In [8]:
def hello_world(daytime):
    """_summary_: Should Print Hello World
    """
    print(f"hello world, its: {daytime}")
    new_time = daytime + "dark"
    return new_time
    
hello_world("morning")

hello world, its: morning

'morningdark'

In [ ]:
queried_list = [5,3,1,4,2,1]
def add_with_value(queried_list, adder = 2):
    for i in queried_list:

In [ ]:
# can you call a function that takes a list of lists as argument 
# [[1,2,3],[4,5,6],[7,8,9]] and returs the max number?
# Can you also add doc strings to the function

def max_of_list(queried_list: list[list]):
    """_summary_

    Args:
        queried_list (list[list]): 
    """
    number = 0
    for liste in queried_list:
        for value in liste:
            if value > number:
                number = value
            else:
                continue
            
    return number

In [9]:
# functional programming
# lambdas
from functools import reduce
list_to_add = [1,2,3,4]

# functional programming
add_numbers = lambda x: x + 1 # add function
filter_number = lambda x: x < 2 # filter function
reduced_number = lambda x,y: x+y

# apply the functions
added_list = map(add_numbers,list_to_add) # creates a generator what is an generator? 
filtered_list = filter(filter_number,list_to_add)
reduced_list = reduce(reduced_number, list_to_add) # its adds up the particular numbers

print(reduced_list)

10

In [6]:
# this could be an exercies!
# 
def get_unique_values_from_list(queried_liste: list) -> list:
    """ Function to retrieve the unique values from a inserted list
    args:
        queried_list type(list): values"""
    list_trial = queried_liste
    second_list = []
    for i in list_trial:
        if second_list:
            if i in second_list:
                continue
            else:
                second_list.append(i)
        else:
            second_list.append(i)
    return second_list

unique_list = get_unique_values_from_list([False, True, True, False])
unique_list

[False, True]

In [16]:
#classes
class course:
    def __init__(self, teacher: str, course_name: str) -> None:
        """_summary_

        Args:
            teacher (str): Teachers Name
            course_name (str): Course Name
        """
        self.teacher : str = teacher
        self.course_name : str = course_name
        self.students : list = []
        
    def greet_course(self):
        print("Hello Data Scientist")
        
    def add_student(self, student):
        self.students.append(student)
        
    def get_students(self):
        return self.students
    
    def get_teacher(self):
        return self.teacher
    
    def set_teacher(self, teacher):
        self.teacher = teacher
        
    def __str__(self):
        return f"The teacher of the course: {self.course_name} is {self.teacher} and the following students are in this course {self.students}"   
                
neuroscience_course = course("Max Zeidler", "Data Science for Neuroscientists")
print(neuroscience_course)
neuroscience_course.add_student("Kai Kummer")
print(neuroscience_course)

The teacher of the course: Data Science for Neuroscientists is Max Zeidler and the following students are in this course []
The teacher of the course: Data Science for Neuroscientists is Max Zeidler and the following students are in this course ['Kai Kummer']